{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application Received</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'jobs/javajam.css' %}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <header><h1><a href="{% url 'home' %}">JavaJam Coffee Joint</a></h1></header>

		<nav>
			<ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'music' %}">Music</a></li>
                <li><a href="{% url 'job_application' %}">Jobs</a></li>
                <li><a href="{% url 'job_success' %}">Application Success</a></li>                
			</ul>
		</nav>

        <main>
            <h2>Thank You for Applying!</h2>
            <p>Your application has been received. We’ll get back to you soon.</p>
        </main>

        <footer>
            Copyright&copy; JavaJam Coffee Bar<br>
            <a href="mailto:jchave95@stu.jjc.edu">jchave95@stu.jjc.edu</a>
        </footer>
    </div>
</body>
</html>
